table, th, td {
    border: 1px solid;
}

#everything{
display: flex;
justify-content: center;
align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.rock {
  font-family: 'Silkscreen', cursive;
  font-weight: 700;
  font-size: 1rem;
}
button {
    --c:  #229091; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
  
  
  button {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
  }

  #scoreSystem{
    font-family: 'Silkscreen', cursive;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    color: #000000;
    font-size: 24px;
    animation: pulse 1s infinite;
  }
   /* Animation for the score text */
   @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  table {
    border-collapse: collapse;
  }

  table td {
    border: 3px solid #ffffff;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    background-color: #f0a7ff;
  }