@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .menu_bar {
        display: none;
    }

    .lastlinks {
        display: none;
    }

    .learnmore {
        display: none;
    }

    .open-main-nav {
        display: none;
    }

    .main-nav {
        display: none;
    }
    /* The component will reset button browser styles */

    .r-button {
        --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
        --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
        --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
        --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
        --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
        --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
        --uirButtonFontSize: var(--rButtonFontSize, inherit);
        --uirButtonColor: var(--rButtonColor);
        background-color: var(--uirButtonBackgroundColor);
        padding: var(--uirButtonPadding);
        border-width: var(--uirButtonBorderWidth);
        border-style: var(--uirButtonBorderStyle);
        border-color: var(--uirButtonBorderColor);
        cursor: pointer;
        font-family: var(--uirButtonFontFamily);
        font-size: var(--uirButtonFontSize);
    }

        .r-button::-moz-focus-inner,
        .r-button[type="button"]::-moz-focus-inner,
        .r-button[type="reset"]::-moz-focus-inner,
        .r-button[type="submit"]::-moz-focus-inner {
            /* Remove the inner border and padding in Firefox. */
            border-style: none;
            padding: 0;
        }

    /* The component will reset browser's styles of link */

    .r-link {
        --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
        --uirLinkTextColor: var(--rLinkTextColor);
        --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
        display: var(--uirLinkDisplay) !important;
        color: var(--uirLinkTextColor) !important;
        text-decoration: var(--uirLinkTextDecoration) !important;
    }

    /* The component will reset browser's styles of list */

    .r-list {
        --uirListPaddingLeft: var(--rListPaddingLeft, 0);
        --uirListMarginTop: var(--rListMarginTop, 0);
        --uirListMarginBottom: var(--rListMarginBottom, 0);
        --uirListListStyle: var(--rListListStyle, none);
        padding-left: var(--uirListPaddingLeft) !important;
        margin-top: var(--uirListMarginTop) !important;
        margin-bottom: var(--uirListMarginBottom) !important;
        list-style: var(--uirListListStyle) !important;
    }

    /* Basic styles of the hamburger component */

    .m-hamburger {
        --uiHamburgerThickness: var(--hamburgerThickness, 4px);
        display: var(--hamburgerDisplay, inline-flex);
        width: var(--hamburgerWidth, 28px);
        height: var(--hamburgerHeight, 20px);
        position: relative;
    }

        .m-hamburger::before,
        .m-hamburger::after,
        .m-hamburger__label {
            width: 100%;
            height: var(--uiHamburgerThickness);
            border-radius: var(--hamburgerBorderRadius, 5px);
            background-color: var(--hamburgerBackgroundColor, currentColor);
            position: absolute;
            left: 0;
        }

        .m-hamburger::before,
        .m-hamburger::after {
            content: "";
        }

        .m-hamburger::before {
            top: 0;
        }

        .m-hamburger::after {
            bottom: 0;
        }

    .m-hamburger__label {
        /* The calculation of middle hamburger button line position */
        top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
    }

    /* helper to hide elements that are available only for screen readers. */

    .screen-reader {
        width: var(--screenReaderWidth, 1px) !important;
        height: var(--screenReaderHeight, 1px) !important;
        padding: var(--screenReaderPadding, 0) !important;
        border: var(--screenReaderBorder, none) !important;
        position: var(--screenReaderPosition, absolute) !important;
        clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
        overflow: var(--screenReaderOverflow, hidden) !important;
    }

    /*
=====
MENU STYLES
=====
*/

    .menu {
        --uiMenuCircleSize: var(--menuCircleSize, 6.25rem);
        --uiMenuCircleOffset: var(--menuCircleOffset, 1rem);
        --uiMenuCircleHeight: calc(var(--uiMenuCircleSize) / 2);
        --uiMenuCircleBackgroundColor: var(--menuCircleBackgroundColor, currentColor);
        --uiMenuHamburgerWidth: var(--menuHamburgerWidth, 1.75rem);
        --uiMenuHamburgerHeight: var(--menuHamburgerHeight, 1.25rem);
        --rButtonPaddingTop: calc(var(--uiMenuCircleHeight) - var(--uiMenuHamburgerHeight) - var(--uiMenuCircleOffset));
        --hamburgerWidth: var(--uiMenuHamburgerWidth);
        --hamburgerHeight: var(--uiMenuHamburgerHeight);
        --hamburgerBackgroundColor: var(--menuHamburgerBackgroundColor, #fff);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: var(--menuZindex, 9998);
    }

    .menu__nav {
        box-sizing: border-box;
        width: 100%;
        height: 0;
        transition: opacity .2s ease-out;
        opacity: 0;
        display: flex;
        align-items: flex-end;
        z-index: 2;
    }

    .menu__list {
        width: 100%;
        max-height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .menu__toggle {
        box-sizing: border-box;
        width: var(--uiMenuCircleSize);
        height: var(--uiMenuCircleHeight);
        flex: none;
        position: relative;
        z-index: 0;
    }

        .menu__toggle::before {
            /*
  1. The font-size property is used to simplify calculations of the element's sizes and position
  2. The negative value for the bottom property need for hiding half of circle. 
  */
            content: "";
            width: 1.5em;
            height: 1.5em;
            font-size: var(--uiMenuCircleSize); /* 1 */
            background-color: var(--uiMenuCircleBackgroundColor);
            border-radius: 50%;
            position: absolute;
            bottom: -0.8em; /* 2 */
            left: calc(50% - .75em);
            z-index: -1;
            will-change: width, height;
            transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98), width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98), height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
        }

    /* styles of hamburger's animation */

    .m-hamburger::before,
    .m-hamburger::after,
    .m-hamburger__label {
        transition-timing-function: ease;
        transition-duration: .15s;
    }

    .m-hamburger::before,
    .m-hamburger::after {
        transition-property: transform;
    }

    .m-hamburger__label {
        transition-property: transform, opacity;
    }

    /*
=====
MENU STATES
=====
*/

    .menu__toggle:focus {
        outline: var(--menuHaburgerOutlineOWidth, 2px) solid var(--menuHaburgerOutlineColor);
        outline-offset: var(--menuHaburgerOutlineOffset, 5px);
    }

    .menu_activated {
        height: 100%;
    }

        .menu_activated .menu__nav {
            flex-grow: 1;
            opacity: 1;
            will-change: opacity;
            transition-duration: .2s;
            transition-delay: .3s;
        }

        .menu_activated .menu__toggle::before {
            width: 100vmax;
            height: 100vmax;
            transform: translate3d(-50vh, -50vh, 0) scale(5);
            transition-duration: 1s;
        }

    .menu:not(.menu_activated) .menu__list {
        display: none;
    }

    .menu_activated .m-hamburger::before {
        top: 50%;
        transform: translate3d(0, -50%, 0) rotate(45deg);
    }

    .menu_activated .m-hamburger::after {
        transform: translate3d(0, -50%, 0) rotate(135deg);
        top: 50%;
    }

    .menu_activated .m-hamburger__label {
        transform: rotate(-45deg) translate3d(-.285em,-.3em, 0);
        opacity: 0;
    }

    /*
=====
SETTINGS
=====
*/

    :root {
        --colorWhite: #fff;
        --colorMain: #4557bb;
        --menuCircleBackgroundColor: var(--colorMain);
        --menuHamburgerBackgroundColor: var(--colorWhite);
        --menuHaburgerOutlineColor: var(--colorMain);
    }

    .menu_activated {
        --menuHaburgerOutlineColor: var(--colorWhite);
    }

    .menu__group {
        --rLinkTextColor: var(--colorWhite);
        padding: .5rem 2rem;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }



    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 160px;
        overflow: hidden;
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        line-height: 40px;
        color: #ecf0f1;
        margin-top: -100px;
        margin-left: -260px;
    }

    .content__container {
        font-weight: 600;
        overflow: hidden;
        height: 40px;
        padding: 0 40px;
    }

        .content__container:before {
            content: '[';
            left: 0;
        }

        .content__container:after {
            content: ']';
            position: absolute;
            right: 0;
        }

        .content__container:after, .content__container:before {
            position: absolute;
            top: 0;
            color: #16a085;
            font-size: 42px;
            line-height: 40px;
            -webkit-animation-name: opacity;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            animation-name: opacity;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

    .content__container__text {
        display: inline;
        float: left;
        margin: 0;
    }

    .content__container__list {
        margin-top: 0;
        padding-left: 110px;
        text-align: left;
        list-style: none;
        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .content__container__list__item {
        line-height: 40px;
        margin: 0;
    }
}
/*Hell0 MotherFucker!!*/
@media only screen and (min-device-width:450px ) and (max-device-width:4081px) {
    .menu {
        display: none;
    }

    main-nav {
        display: none;
    }

    open-main-nav {
        display: none;
    }

    .main-nav {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
    }

        .main-nav.is-open {
            opacity: 1;
            z-index: 100;
            visibility: visible;
        }

        /* Yellow band effect */
        .main-nav::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: -15px;
            background: #900082;
            transform-origin: 0 0;
            transform: skew(-14deg) translateX(-120%);
            transition: all .275s .1s;
        }

        .main-nav.is-open::before {
            transform: skew(-14deg) translateX(0);
        }

        /* Skewing effect on menu links */
        .main-nav ul {
            display: inline-flex;
            flex-direction: column;
            height: 93%; /* Should be 100%, but we have a notice message :D */
            align-items: flex-end;
            justify-content: center;
            transform: translateX(-18%) skew(-16deg);
        }

        .main-nav li {
            display: block;
            margin: .5rem 0;
            text-align: right;
            transform: skew(16deg);
        }

        /* Apparition effect on links */
        .main-nav a {
            opacity: 0;
            transform: translateY(-10px);
        }

        .main-nav.is-open a {
            opacity: 1;
            transform: translateY(0);
        }

        .main-nav li:nth-child(1) a {
            transition: all 275ms 175ms
        }

        .main-nav li:nth-child(2) a {
            transition: all 275ms 225ms
        }

        .main-nav li:nth-child(3) a {
            transition: all 275ms 275ms
        }

        .main-nav li:nth-child(4) a {
            transition: all 275ms 325ms
        }

        .main-nav li:nth-child(5) a {
            transition: all 275ms 375ms
        }


        /* Decoration */
        .main-nav ul,
        .main-nav li {
            list-style: none;
            padding: 0;
        }

        .main-nav a {
            display: block;
            padding: 12px 0;
            color: #ffffff;
            font-size: 1.4em;
            text-decoration: none;
            font-weight: bold;
        }

    .open-main-nav {
        position: absolute;
        top: 15px;
        padding-top: 20px;
        right: 15px;
        z-index: 1000;
        background: none;
        border: 0;
        cursor: pointer;
    }

        .open-main-nav:focus {
            outline: none;
        }

    .burger {
        position: relative;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: black;
        transform: skew(5deg);
        transition: all .275s;
    }

        .burger:after,
        .burger:before {
            content: '';
            display: block;
            height: 100%;
            background: black;
            transition: all .275s;
        }

        .burger:after {
            transform: translateY(-12px) translateX(-2px) skew(-20deg);
        }

        .burger:before {
            transform: translateY(-16px) skew(-10deg);
        }

    /* Toggle State part */
    .is-open .burger {
        transform: skew(5deg) translateY(-8px) rotate(-45deg);
    }

        .is-open .burger:before {
            transform: translateY(0px) skew(-10deg) rotate(75deg);
        }

        .is-open .burger:after {
            transform: translateY(-12px) translateX(10px) skew(-20deg);
            opacity: 0;
        }

    /* MENU Text part */

    .burger-text {
        display: block;
        font-size: .675rem;
        letter-spacing: .05em;
        margin-top: .5em;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        color: black;
    }
}
/*Bye HHAHHAHAHA*/


:root {
    --base-grid: 10px;
    --colour-body-background: #f3abff;
    --colour-background: #fff;
    --colour-background-folded: #f5f5f5;
    --colour-background-stripes: rgb(255 255 255 / 66%);
    --colour-text: #1a1a1a;
}


*, :after, :before {
    box-sizing: border-box;
    margin: 0;
}


.articles {
    margin: calc(var(--base-grid)*2) auto calc(var(--base-grid)*5);
    display: grid;
    grid-row-gap: calc(var(--base-grid)*8);
    grid-column-gap: calc(var(--base-grid)*6);
    grid-template-columns: repeat(auto-fit,minmax(calc(var(--base-grid)*35),1fr));
    justify-items: center;
}

.articles__article {
    cursor: pointer;
    display: block;
    position: relative;
    perspective: 1000px;
    animation-name: animateIn;
    animation-duration: .35s;
    animation-delay: calc(var(--animation-order)*100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

    .articles__article:before {
        content: "";
        position: absolute;
        top: calc(var(--base-grid)*-2);
        left: calc(var(--base-grid)*-2);
        border: 2px dashed var(--colour-background);
        background-image: repeating-linear-gradient(-24deg,transparent,transparent 4px,var(--colour-background-stripes) 0, var(--colour-background-stripes) 5px);
        z-index: -1;
    }

    .articles__article,
    .articles__article:before {
        width: calc(var(--base-grid)*35);
        height: calc(var(--base-grid)*35);
    }

.articles__link {
    background-color: var(--colour-body-background);
    border: 2px solid var(--colour-background);
    display: block;
    width: 100%;
    height: 100%;
}

    .articles__link:after {
        content: "";
        position: absolute;
        top: 50%;
        right: calc(var(--base-grid)*3);
        width: calc(var(--base-grid)*2);
        height: calc(var(--base-grid)*2);
        margin-top: calc(var(--base-grid)*-1);
        clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
        -webkit-clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
        background-color: var(--colour-background);
        opacity: 0;
        transition: opacity .5s ease-in,transform .3s ease-in-out 0ms;
    }

.articles__content {
    background-color: var(--colour-background);
    color: var(--colour-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(var(--base-grid)*2);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--colour-background);
}

.articles__content--lhs {
    clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
    -webkit-clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
}

.articles__content--rhs {
    clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
    -webkit-clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
    transition: transform .5s ease-in-out,background-color .4s ease-in-out;
}

.articles__title {
    font-size: calc(var(--base-grid)*4);
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: -.02em;
}

.articles__footer {
    margin-top: auto;
    font-size: calc(var(--base-grid)*2);
    line-height: calc(var(--base-grid)*2);
    display: flex;
    justify-content: space-between;
}

.articles__link:hover .articles__content--rhs {
    background-color: var(--colour-background-folded);
    transform: rotateY(-50deg);
}

.articles__link:hover:after {
    opacity: 1;
    transform: translateX(calc(var(--base-grid)*1.5));
    transition: opacity .5s ease-in,transform .3s ease-in-out .25s;
}




body {
    background-color: #f3abff;
}



comment {
    text-align: justify;
    font-size: 1.6em;
    font-family: 'Share Tech Mono', monospace;
}


cards {
    margin-top: 0px;
}

body {
    padding: calc(var(--base-grid)*10);
    display: flex;
    flex-flow: wrap;
    font-family: "Ubuntu", sans-serif;
}

    body * {
        box-sizing: border-box;
    }

.card-container {
    flex: 300px;
    margin: 30px;
}

    .card-container .card {
        font-weight: bold;
        position: relative;
        width: 100%;
    }

        .card-container .card a {
            padding: 30px;
            width: 100%;
            height: 400px;
            border: 2px solid black;
            background: white;
            text-decoration: none;
            color: black;
            display: block;
            transition: 0.25s ease;
        }

            .card-container .card a:hover {
                transform: translate(-30px, -30px);
                border-color: #5bc0eb;
            }

                .card-container .card a:hover .card--display {
                    display: none;
                }

                .card-container .card a:hover .card--hover {
                    display: block;
                }

            .card-container .card a .card--display i {
                font-size: 60px;
                margin-top: 200px;
            }

            .card-container .card a .card--display h2 {
                margin: 20px 0 0;
            }

            .card-container .card a .card--hover {
                display: none;
            }

                .card-container .card a .card--hover h2 {
                    margin: 20px 0;
                }

                .card-container .card a .card--hover p {
                    font-weight: normal;
                    line-height: 1.5;
                }

                    .card-container .card a .card--hover p.link {
                        margin: 20px 0 0;
                        font-weight: bold;
                        color: #5bc0eb;
                    }

        .card-container .card .card--border {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: 2px dashed black;
            z-index: -1;
        }

        .card-container .card.card--dark a {
            color: white;
            background-color: black;
            border-color: black;
        }

            .card-container .card.card--dark a .card--hover .link {
                color: #fde74c;
            }

.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

    .main-nav.is-open {
        opacity: 1;
        z-index: 100;
        visibility: visible;
    }

    /* Yellow band effect */
    .main-nav::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        background: #9eff98;
        transform-origin: 0 0;
        transform: skew(-14deg) translateX(-120%);
        transition: all .275s .1s;
    }

    .main-nav.is-open::before {
        transform: skew(-14deg) translateX(0);
    }

    /* Skewing effect on menu links */
    .main-nav ul {
        display: inline-flex;
        flex-direction: column;
        height: 93%; /* Should be 100%, but we have a notice message :D */
        align-items: flex-end;
        justify-content: center;
        transform: translateX(-18%) skew(-16deg);
    }

    .main-nav li {
        display: block;
        margin: .5rem 0;
        text-align: right;
        transform: skew(16deg);
    }

    /* Apparition effect on links */
    .main-nav a {
        opacity: 0;
        transform: translateY(-10px);
    }

    .main-nav.is-open a {
        opacity: 1;
        transform: translateY(0);
    }

    .main-nav li:nth-child(1) a {
        transition: all 275ms 175ms
    }

    .main-nav li:nth-child(2) a {
        transition: all 275ms 225ms
    }

    .main-nav li:nth-child(3) a {
        transition: all 275ms 275ms
    }

    .main-nav li:nth-child(4) a {
        transition: all 275ms 325ms
    }

    .main-nav li:nth-child(5) a {
        transition: all 275ms 375ms
    }


    /* Decoration */
    .main-nav ul,
    .main-nav li {
        list-style: none;
        padding: 0;
    }

    .main-nav a {
        display: block;
        padding: 12px 0;
        color: #ff6e6ede;
        font-size: 1.4em;
        text-decoration: none;
        font-weight: bold;
    }

.open-main-nav {
    position: absolute;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}

    .open-main-nav:focus {
        outline: none;
    }

.burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: black;
    transform: skew(5deg);
    transition: all .275s;
}

    .burger:after,
    .burger:before {
        content: '';
        display: block;
        height: 100%;
        background: black;
        transition: all .275s;
    }

    .burger:after {
        transform: translateY(-12px) translateX(-2px) skew(-20deg);
    }

    .burger:before {
        transform: translateY(-16px) skew(-10deg);
    }

/* Toggle State part */
.is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

    .is-open .burger:before {
        transform: translateY(0px) skew(-10deg) rotate(75deg);
    }

    .is-open .burger:after {
        transform: translateY(-12px) translateX(10px) skew(-20deg);
        opacity: 0;
    }

/* MENU Text part */

.burger-text {
    display: block;
    font-size: .675rem;
    letter-spacing: .05em;
    margin-top: .5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: black;
}


@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-o-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-moz-keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes opacity {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}
